body {
    margin: 0;
    background-color: #BBD1EA;
    font-family: Arial, Helvetica, sans-serif;
}

#pagina {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" 
                         "nav"
                         "container"
                         "footer";
}

#container {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: container;
}

#cabecalho {
    grid-area: header;
    background-color: #507DBC;
    color: white;
    font-size: 2vw;
    text-align: center;
    padding: 1px;
}

#rodape {
    grid-area: footer;
    background-color: #507DBC;
    text-align: center;
    padding: 5px;
    border-top: 5px solid black;
}

#navbar{
    border-radius: 0;
}

div, img {
    border-radius: 10px;
}

input[type=button] {
    width: 180px;
    height: 30px;
    border-radius: 5px;
}

.movieContainer {
    display: grid;
    height: auto;
    width: 100%;
    grid-area: movie;

    grid-template-columns: auto auto;
    grid-template-rows: 80px auto;
    column-gap: 10px;
    row-gap: 10px;

    grid-template-areas:    "titulo titulo"
                            "rightPanel leftPanel";
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    grid-area: review;
}

.reviewsContainer > #heading {
    font-size: 3vw;
    font-weight: bold;
    align-self: center;
    
}

#rightPanel {
    display: grid;
    grid-area: rightPanel;
    row-gap: 10px;
    height: 100%;
    margin-left: 10px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:    "desc"
                            "avaliacao";
}

#leftPanel {
    display: grid;
    grid-area: leftPanel;
    row-gap: 10px;
    height: 100%;
    margin-right: 10px;

    grid-template-columns: auto;
    grid-template-rows: auto auto;

    grid-template-areas:    "foto"
                            "ficha";
}

#titulo {
    display: flex;
    grid-area: titulo;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 10px;
}

#titulo > #heading {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-justify: inter-word;
}

#foto {
    grid-area: foto;
}

#foto {
    position: relative;
    width: 100%;
    height: 100%;
}

#foto>img {
    width: 100%;
    height: 100%;
}

#fichaTecnica {
    grid-area: ficha;
    background-color:white;
    padding: 10px;
}

#fichaTecnica > #heading {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#fichaTecnica > #ft {
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
}

hr {
    border-color: black;
}

#descricao {
    grid-area: desc;
    background-color: white;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

#descricao > #heading {
    font-size: 3vw;
    font-weight: bold;
}

#avaliacao {
    grid-area: avaliacao;
    background-color: white;
    padding: 20px;

}

.reviewsContainer > .review {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    width: 1fr;
    border: 20px;
    margin: 10px;
    line-height: 15px;
    text-align: justify;
    text-justify: inter-word;
    min-height: 10px;
    overflow: hidden;
}

.reviewsContainer > h2 {
    text-align: center;
}

.review > *{
    margin: 10px;
}

.review > #rightLeft {
    height: 20px;
}

.review > #rightLeft > #left{
    font-size: 20px;
    float: left;
    font-weight: bold;
}

.review > #rightLeft > #right{
    font-size: 20px;
    float: right;
}

.review > p{
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    line-height: 120%;
}

.checked{
    color: orange;
}

.grafico{
    width: 100%;
}

#avaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avaliacao > div > span{
    font-size: 30px
}

#avaliacao > #heading {
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
}

#avaliacao > p {
    font-size: 20px;
}

.side {
  float: left;
  width: 15%;
  margin-top:10px;
  padding: 0;
}

.side > div {
    text-align: center;
    font-size: 17px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

.right {
  text-align: right;
}

.grafico:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #bebebe;
  text-align: center;
  color: white;
}

.bar-5 {width: 20%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 20%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 30%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 10%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 20%; height: 18px; background-color: #f44336;}

.avaliacaoUsuario {
    margin-top: 20px;
    text-align: center;
}

#formAvaliacao > * {
    margin-top: 8px;
}

#formAvaliacao > label{
    font-size: 20px;
}

#formAvaliacao > #heading{
    font-size: 20px;
}

textarea {
    resize: none;
    border-radius: 10px;
    width: 100%;
}

#navbar {
    grid-area: nav;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar > a {
    text-decoration: none;
    padding: 1vh 4vh;
    color: white;
    font-size: 1.5vw;
}

#navbar > a:hover {
    background-color: #507DBC;
}

#rodape > h3 > a{
    color: black;
    text-decoration: none;
}

@media (max-width: 900px) {
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar > a{
        padding: 1vh 0;
        width: 100%;
        text-align: center;
        font-size: 3.2vw;
    }
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
    .movieContainer{
        display: flex;
        flex-direction: column;
    }
    #titulo>#heading{
        font-size: 6vw;
    }
    #foto {
        width: 60vw;
        justify-self: center;
    }
    #descricao{
        font-size: 18px;
    }
    #titulo,
    #rightPanel,
    #leftPanel{
        margin: 5px;
    }
    #avaliacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #descricao > #heading,
    #fichaTecnica > #heading,
    .reviewsContainer > #heading,
    #rightLeft > #left,
    #rightLeft > div > span{
        font-size: calc(3vw + 10px);
    }
    .review > p{
        font-size: 18px;
        margin: 10px 0;
        padding: 10px;
        line-height: 120%;
    }
    #pagina{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
}