#container {
    display: grid;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 230px 1fr;
    grid-template-areas: "header header" "aside section" "footer footer";
    width: 100vw;
    height: 100vh;
}

#cabecalho {
    grid-area: header;
    background-color: #507DBC;
    text-align: center;
    padding: 1px;
    border-bottom: 5px solid black;
}

#menu {
    grid-area: aside;
    background-color: #A1C6EA;
    padding: 30px;
    border-right: 5px solid black;
}

#conteudo {
    grid-area: section;
    background-color: #BBD1EA;
    padding: 47px;
}

#rodape {
    grid-area: footer;
    background-color: #507DBC;
    text-align: center;
    padding: 5px;
    border-top: 5px solid black;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Chakra Petch', sans-serif; */
}

#divLogin {
    width: 190px;
    height: 32px;
    border-bottom: 5px solid black;
}

#divCadastro {
    width: 250px;
    height: 29px;
    border-bottom: 5px solid black;
}

#divLogout {
    width: 230px;
    height: 32px;
    border-bottom: 5px solid black;
    margin-top: 50px;
}

.ancora {
    color: black;
    text-decoration: none;
}

.ancora:hover {
    cursor: pointer;
    color: yellow;
    text-decoration: underline;
}

#tituloMenu {
    margin-bottom: 40px;
    text-align: center;
}

#listaMenu {
    width: 140px;
    margin-left: 20px;
}

.itemLista {
    margin-bottom: 40px;
    font-weight: bold;
    list-style-image: url("https://img.icons8.com/metro/26/000000/film-reel.png");
}

#loginForm,
#cadastroForm {
    margin-top: 40px;
    border: 5px solid black;
    width: 360px;
    padding: 25px;
}

#loginForm {
    margin-right: 55px;
}

.itemForm {
    font-weight: bold;
}

.inputForm {
    margin-top: 5px;
    background-color: whitesmoke;
    padding: 10px;
    width: 250px;
    border-style: inset;
}

#loginBotao,
#cadastroBotao,
#logoutBotao {
    width: 85px;
    height: 35px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #BBD1EA;
    border-style: outset;
}

#logoutBotao {
    margin-left: 70px;
}

#loginBotao:hover,
#cadastroBotao:hover,
#logoutBotao:hover {
    cursor: pointer;
    color: yellow;
    background-color: #507DBC;
}

#flexConteudo {
    display: flex;
}

#login {
    flex: 1;
    border-right: 5px double black;
}

#cadastro {
    flex: 2;
    margin-left: 55px;
}

@media screen and (max-width: 900px) {
    #container {
        grid-template-columns: 170px 1fr;
    }
    #listaMenu {
        margin-left: 10px;
    }
    #conteudo {
        padding: 33px;
    }
    #flexConteudo {
        flex-direction: column;
    }
    #login {
        border-right: none;
        border-bottom: 5px double black;
    }
    #loginForm {
        margin-right: 0px;
        width: 190px;
    }
    #cadastro {
        margin-left: 0px;
        margin-bottom: 30px;
    }
    #divCadastro {
        margin-top: 50px;
    }
    #cadastroForm {
        width: 190px;
    }
    .inputForm {
        width: 165px;
    }
    #logoutBotao {
        margin-bottom: 50px;
    }
}